{% extends "base.html" %}
{% block title %}Cargar Reservaciones{% endblock %}
{% block content %}
<section class="container">
  <h2 class="text-center">Cargar Reservaciones</h2>
  <div class="">
    <form method="post">
      <input type="file" name="fileupload">
      <input type="submit" value="Enviar">
      <button class="btn btn-outline-primary" type="submit">Cargar Archivo</button>
      <script>


        $(document).ready(function () {

          // Escuchamos el evento 'change' del input donde cargamos el archivo
          $(document).on('change', 'input[type=file]', function (e) {
            // Obtenemos la ruta temporal mediante el evento
           console.log(e.originalEvent.path[0].value);
           console.log(e);
            // Mostramos la ruta temporal

          });

        });
        </script>
    </form>
  </div>
  <br>
  <div class="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Aula</th>
          <th scope="col">Materia</th>
          <th scope="col">Horario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="guardar">
    <button class="btn btn-outline-primary">Guardar</button>
    <button class="btn btn-outline-primary" onclick="location.href='/'">Cancelar</button>
  </div>
</section>
{% endblock %}