{% extends "base.html" %}
{% block title %}Cargar Reservaciones{% endblock %}
{% block content %}
<section class="container">
  <h2 class="text-center">Cargar Reservaciones</h2>
  <div class="">
    <button class="btn btn-outline-primary">Cargar Archivo</button>
  </div>
  <br>
  <div class="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Aula</th>
          <th scope="col">Materia</th>
          <th scope="col">Horario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="guardar">
    <button class="btn btn-outline-primary">Guardar</button>
    <button class="btn btn-outline-primary" onclick="location.href='/'">Cancelar</button>
  </div>
</section>
{% endblock %}