{% extends "base.html" %}
{% block title %}Modificar Aula{% endblock %}
{% block content %}
<section class="container" style="display: flex;flex-direction: column;align-items: center;">
  <form method="POST">
    <div class="form-group">
      <h2>Modificar Aula</h2>
      <label for="Aula">Aula:</label>
      <input type="text" class="form-control" id="Aula" placeholder="Aula">
    </div>
    <div class="form-group">
      <label for="Capacidad">Capacidad:</label>
      <input type="text" class="form-control" id="Capacidad" placeholder="Capacidad">
    </div>
    <div class="form-group">
      <label for="VideoBeam">VideoBeam:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="VideoBeam" id="VideoBeam1" value="Si" checked>
        <label class="form-check-label" for="VideoBeam1">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="VideoBeam" id="VideoBeam2" value="No">
        <label class="form-check-label" for="VideoBeam2">
          No
        </label>
      </div>
    </div>
    <div class="card">
      <button class="btn btn-outline-primary">Guardar</button>
    </div>
  </form>

</section>
{% endblock %}