{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<section class="container" id="contenido">
  <div class="row">
    <div style="margin: 0 auto; min-width: 25vw;">

      <form action="/perfil" method="POST" name="form">
        <div class="form-group">
          <h2>Configuración de perfil</h2>
          <label for="Nombre">Nombre:</label>
          <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre" value={{nombre}}>
        </div>
        <div class="form-group">
          <label for="Apellido">Apellido:</label>
          <input type="text" class="form-control" id="Apellido" name="Apellido" placeholder="Apellido" value={{apellido}}>
        </div>
        <div class="form-group">
          <label for="telf">Numero de telf:</label>
          <input type="text" class="form-control" id="telf" name="telf" placeholder="Numero de telf" value={{telf}}>
        </div>
        <div class="form-group">
          <label for="img">Imagen de perfil:</label>
          <input type="file" class="form-control-file" id="img" name="img" value={{imgname}}>
        </div>
        <div class="form-group">
          <h4 class="text-center">Cambiar Contraseña</h4>
          <label for="contraseña">Contraseña actual:</label>
          <input type="password" class="form-control" id="contraseña">
        </div>
        <div class="form-group">
          <label for="Ncontraseña">Nueva Contraseña:</label>
          <input type="password" class="form-control" id="Ncontraseña">
        </div>
        <div class="form-group">
          <label for="NRcontraseña">RepetirContraseña:</label>
          <input type="password" class="form-control" id="NRcontraseña">
        </div>
      </form>
      <button class="btn btn-outline-primary" type="submit"> Aplicar</button>
      <button class="btn btn-outline-primary" onclick="location.href='/'"> Cancelar</button>

    </div>
  </div>
</section>
{% endblock %}