{% extends "base.html" %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
<section class="container">
  <div class="row">

    <div style="margin: 0 auto;">
      <form>
        <div class="form-group">
          <h2>Recuperar Contraseña</h2>
          <label for="Correo">Correo</label>
          <input type="email" class="form-control" id="Correo" placeholder="Correo">
        </div>

        <button class="btn btn-outline-primary">Recuperar</button>
      </form>

    </div>

  </div>
</section>
{% endblock %}