{% extends "base.html" %}
{% block title %}Solicitudes de Reservacion{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Solicitudes de Aula</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Aula</th>
                        <th scope="col">Correo Solicitante</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Periodicidad</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Aprobar/Rechazar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aula in aulas %}
                    <tr>
                        <td>
                            {{aula.aula}}
                        </td>
                        <td>
                            {{aula.solicitante}}
                        </td>
                        <td>
                            {% if aula.materia %}
                                {{aula.materia}}
                            {% else %}
                                Sin materia
                            {% endif %}
                        </td>
                        <td>
                            {{aula.periodicidad}}
                        </td>
                        <td>
                            {{aula.horario}}
                        </td>
                        <td>
                            {{aula.motivo}}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" id="{{aula['iden']}}" onclick="aprobar(this)">Aprobar</button>
                            <button class="btn btn-outline-danger" id="{{aula['iden']}}" onclick="rechazar(this)">Rechazar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/solicitudes" class="hidden" id="formulario" method="POST">
                <input type="text" name="id1" id="id1" class="hidden">
                <input type="text" name="approb" id="approb" class="hidden">
            </form>
            <div class="btn-group col" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
            </div>

            <div>

            </div>
</section>
<script src="/static/js/solicitudes.js"></script>
{% endblock %}