{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Solicitudes de Aula</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Aula</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr class="mouse-click" onclick="location.href='gestionRAula.html'">
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>

                </tbody>
            </table>
            <div class="btn-group col" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
            </div>

            <div>

            </div>
</section>
{% endblock %}