{% extends "base.html" %}
{% block title %}Solicitudes de Reservacion{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Solicitudes de Aula</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Aula</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Periodicidad</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Aprobar/Rechazar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Auditorio</td>
                        <td>Leonardo P.</td>
                        <td>ATI</td>
                        <td>Semanal</td>
                        <td>7-9 am</td>
                        <td>
                            <button class="btn btn-outline-primary" id="aprobar" onclick="rechazar()">Aprobar</button>
                            <button class="btn btn-outline-danger" id="rechazar" onclick="rechazar()">Rechazar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Auditorio</td>
                        <td>Leonardo P.</td>
                        <td>ATI</td>
                        <td>Semanal</td>
                        <td>7-9 am</td>
                        <td>
                            <button class="btn btn-outline-primary" id="aprobar" onclick="rechazar()">Aprobar</button>
                            <button class="btn btn-outline-danger" id="rechazar" onclick="rechazar()">Rechazar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Auditorio</td>
                        <td>Leonardo P.</td>
                        <td>ATI</td>
                        <td>Semanal</td>
                        <td>7-9 am</td>
                        <td>
                            <button class="btn btn-outline-primary" id="aprobar" onclick="rechazar()">Aprobar</button>
                            <button class="btn btn-outline-danger" id="rechazar" onclick="rechazar()">Rechazar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group col" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
            </div>

            <div>

            </div>
</section>
<script src="/static/js/solicitudes.js"></script>
{% endblock %}