*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 50px;
    height: auto;
}
#menu{
	position: relative;
}
.derecha{
	text-align: right;
}
.mouse-click{
    cursor: pointer;
}
tr.mouse-click:hover{
    background-color: #afb4b6!important;
}
